<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testNGSessions.Day27.MyTest.BaseTest"/>
      <class name="testNGSessions.Day27.MyTest.GoogleTest"/>
      <class name="testNGSessions.Day27.MyTest.OrangeHRMTest"/>
      <class name="testNGSessions.Day27.MyTest.OpenCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
